<!--
  Generated template for the TrabalhosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trabalhos</ion-title>
    <ion-buttons end>
      <button ion-button icon-end (click)="doLogout()">
        Sair
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ng-container *ngFor="let trabalho of trabalhos; let i = index">
      <ion-card ion-item>
          <ion-card-content>
            <button ion-item (click)="goToQuestions(trabalho)">
              <h2 text-wrap>{{trabalho.titulo}}</h2>
              <h3 text-wrap>{{trabalho.apresentador}}</h3>
              <h3 text-wrap *ngIf="trabalho.dia && trabalho.horario" style="font-weight: bold">{{trabalho.dia}} - {{trabalho.horario}}</h3>
              <h3 text-wrap *ngIf="trabalho.sala">Oral - {{trabalho.predio}} - Sala {{trabalho.sala}}</h3>
              <h3 text-wrap *ngIf="trabalho.painel">{{trabalho.predio}} - Painel {{trabalho.painel}}</h3>
              <p *ngIf="estados && 'Não Avaliado' === estados[trabalho.id]" style="color:red">{{estados[trabalho.id]}}</p>
              <p *ngIf="estados && 'Avaliado mas não enviado' === estados[trabalho.id]" style="color:rgb(202, 202, 37)">{{estados[trabalho.id]}}</p>
              <p *ngIf="estados && 'Avaliado e Enviado' === estados[trabalho.id]" style="color:green">{{estados[trabalho.id]}}</p>
            </button>
          </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>
</ion-content>
